$breakpointMobile: 1080px;

$colors: (
  bgMain: #e0dfe6,
  bgHeader: #464850,
  bgFooter: #2f3033,
  textMain: black,
);

$fontNormal: Arial, sans-serif;
$fontCursive: "Caveat", cursive;

$z-indices: (
  pseudoShadow: 0,
  input: 1,

  card: 1,
  cardPseudoShadow: 0,

  cardHovered: 1,
  cardPseudoShadowHovered: 2,

  dropdownMenu: 2,

  fixedPopup: 3
);

$breakpoints: (
  cardWide: 480px,
  cardDesktop: 720px,

  bookDesktop: 720px,

  footerTitleCollapsed: 512px,
  footerDesktop: 860px
);