.foundInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.foundInfo {
  color: rgb(111, 110, 112);
  font-size: 1.5rem;
  text-align: center;
}

.warningAccent {
  color: rgb(43, 40, 40);
}

.foundError {
  color: rgb(173, 59, 59);
}

.foundLoading {
  font-size: 1.5rem;
  color: rgb(94, 44, 109);
  font-weight: bold;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  i {
    display: block;
    margin-right: 0.5rem;
  }
}


.query {
  color: rgb(165, 164, 165);
  font-size: 1.2rem;
}

.showing {
  color: rgb(165, 164, 165);
  font-size: 1.2rem;
  font-weight: bold;
}