@use "sass:map";
@import "src/styles/_var";

.fixedPopup {
  position: fixed;
  z-index: map.get($z-indices, fixedPopup);
  width: 100%;
  top: 0;
  left: 0;
  transform: translateY(-100vh);

  padding: 0.5rem 1rem;

  background-color: map.get($colors, bgHeader);
  color: white;
  transition: transform 0.5s ease;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.fixedPopup.shown {
  transform: translateY(0);
}

.shortInfoItem {
  padding: 0.5rem 1rem;
  font-family: 'Courier New', Courier, monospace;

  display: flex;

  i {
    display: block;
    margin-right: 0.5rem;
  }
}

.loading {
  color: rgb(232, 172, 255);
}

.error {
  color: rgb(255, 119, 119);
}

.goTopBtn {
  outline: none;
  appearance: none;
  border: none;
  margin-left: auto;
  margin-right: auto;

  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;

  padding: 0.5em 1em 0.5em 0.5em;
  background-color: inherit;
  color: white;
  transition: background-color 0.3s ease;

  display: flex;
  align-items: center;

  i {
    display: block;
    margin-right: 0.5rem;
  }
}

.goTopBtn:hover {
  background-color: rgb(121, 119, 128);
}
.goTopBtn:focus-visible{
  outline: orange 4px solid;
}

.rot180 {
  transform: rotate(180deg);
}