@use "sass:map";
@import "src/styles/_var";

.container {
  padding: 1rem 0.5rem;

  @media screen and (min-width: map.get($breakpoints, cardDesktop)) {
    padding: 2rem 1rem;
  }
}

.previews {
  margin-top: 2rem;
  margin-bottom: 2rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;


  @media screen and (min-width: map.get($breakpoints, cardDesktop)) {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.loadMoreButton {
  appearance: none;
  outline: none;
  border: none;
  cursor: pointer;

  margin-right: auto;
  margin-left: auto;

  background-color: rgb(66, 46, 138);
  border-radius: 3px;
  padding: 0.8em 1.2em 0.8em 0.8em;
  font-size: 1.5rem;
  color: white;
  transition: background-color 0.3s ease;

  display: flex;

  i {
    margin-right: 0.4em;
  }
}
.loadMoreButton.error {
  background-color: rgb(175, 68, 68);
}
.loadMoreButton.loading {
  background-color: rgb(126, 126, 126);
}
.loadMoreButton.success {
  background-color: rgb(54, 153, 54);
}

.loadMoreButton:hover, .loadMoreButton:focus-visible {
  background-color: rgb(117, 96, 192);
}