@use "sass:map";
@import "src/styles/_var";

$textColor: rgb(230, 227, 227);
.container {
  flex: 0 1 auto;
  background-color: map.get($colors, bgFooter);
  padding: 8rem 1rem 4rem;

  color: $textColor;
  
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 4rem;

}

.left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.icon {
  display: block;
  grid-area: icon;
  font-size: 8rem;
  line-height: 8rem;
  letter-spacing: 0;
}

.booksearcherBy {
  grid-area: booksearcherBy;
  color: rgb(126, 126, 126);
  font-size: 1.4rem;
  font-weight: normal;
}

.name {
  grid-area: name;
  color: rgb(194, 194, 194);
  font-size: 1.8rem;
}

.poweredBy {
  grid-area: poweredBy;
  color: rgb(108, 106, 109);
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;

  & > * {
    white-space: nowrap;
  }
}

$linkColorDefault: rgb(182, 158, 185);
$linkColorHover: rgb(120, 115, 187);
.footerLink {
  appearance: none;
  text-decoration: none;
  cursor: pointer;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  color: $linkColorDefault;
  transition: color 0.3s ease;
}
.footerLink:hover {
  color: $linkColorHover;
}
.footerLink:focus-visible {
  outline: orange 2px solid;
  outline-offset: 0.5rem;
  color: $linkColorHover;
}

.technologies {
  h4 {
    font-size: 1.2rem;
    font-weight: normal;
    color: rgb(144, 144, 144);
    margin-bottom: 1.5rem;
  }
  p {
    margin-bottom: 0;
    margin-top: 0.75rem;
    font-size: 1rem;
    color: rgb(114, 114, 114);
  }
}

.right {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6rem;
}

.footerList {
  display: flex;
  flex-direction: column;
  h4 {
    font-size: 1.5rem;
    color: rgb(146, 146, 146);
    margin-bottom: 1.5rem;
  }
}

$sourceItemColorDefault: rgb(195, 195, 195);
$sourceItemColorHover: rgb(116, 110, 149);
.sourceItem {
  position: relative;
  appearance: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;

  font-size: 1.5rem;
  font-weight: normal;
  color: $sourceItemColorDefault;
  transition: color 0.3s ease;
  margin-bottom: 1rem;

  i {
    margin-right: 0.5rem;
  }

  span {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
  }
  // &::before {
  //   position: absolute;
  //   content: "";
  //   top: 100%;
  //   left: 0;
  //   height: 2px;
  //   width: 100%;
  //   transform: translateY(4px);
  //   background-color: rgb(182, 169, 169);
  // }
}
.sourceItem:hover {
  color: $sourceItemColorHover;
}
.sourceItem:focus-visible {
  color: $sourceItemColorHover;
  outline: orange 3px solid;
  outline-offset: 0.5rem;
}
.sourceItem.copied::after {
  position: absolute;
  content: "Email copied!";
  width: fit-content;
  height: fit-content;
  right: 0;
  top: 0;
  transform: translateY(-3rem);

  padding: 0.5rem 1rem;
  border-radius: 3px;
  background-color: rgb(56, 172, 56);
  color: white;
  font-size: 1.2rem;
  text-align: center;
}